<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated git -->
      <package
            uri="ecore://nasdanika.org/models/git"
            class="org.nasdanika.models.git.GitPackage"
            genModel="model/git.genmodel"/>
   </extension>

</plugin>
